amqp==1.4.8
anyjson==0.3.3
argparse==1.2.1
backports.ssl-match-hostname==3.5.0.1
##beautifulsoup4==4.2.1
billiard==3.3.0.22
blinker==1.4
celery==3.1.19
##certifi==14.05.14
##characteristic==14.3.0
##chardet==2.3.0
##colorama==0.2.5
#command-not-found==0.3
#compizconfig-python==0.9.11.3
##configobj==4.7.2
##coverage
##cssselect==0.9.1
cvxopt==1.1.8
