defer==1.0.4
dill==0.2.4
django-celery-beat==1.0.1
django-celery-results==1.0.1
django-argonauts==1.0.1
django-compressor==1.4
django-endless-pagination==2.0
django-extensions==1.5.0
django-jsonfield==0.9.15
django-mptt==0.6.1
django-nose
django-periodically==0.3.0
django-require==1.0.7
djangorestframework
djangorestframework-jwt==1.7.2
django-rest-framework-mongoengine
django-treebeard==3.0
djangotoolbox==1.6.2
dnspython
docopt==0.6.2
ecdsa==0.11
enum34==1.1.2
env-excavator==1.2.0
eventlet
factory_boy
filebrowser-safe==0.3.8
flower
freetype-py
future==0.9.0
functools32==3.2.3-2
