decorator
#debtagshw
defer==1.0.4
dill==0.2.4
#dirspec
dj-database-url==0.3.0
django-appconf==1.0.1
django-argonauts==1.0.1
django-bower==5.0.2
django-celery==3.1.17
django-compressor==1.4
django-crispy-forms==1.5.2
django-debug-toolbar==1.2.2
django-endless-pagination==2.0
django-extensions==1.5.0
django-filer==0.9.9
django-filter
django-jsonfield==0.9.15
django-mptt==0.6.1
django-nvd3==0.9.7
django-periodically==0.3.0
django-polymorphic==0.6.1
django-pyscss==1.0.6
django-require==1.0.7
django-rest-framework-mongoengine==2.0.2
djangorestframework==3.3.2
django-treebeard==3.0
djangotoolbox==1.6.2
dnspython
docopt==0.6.2
#duplicity
easy-thumbnails==2.2
ecdsa==0.11
enum34==1.1.2
env-excavator==1.2.0
eventlet
filebrowser-safe==0.3.8
freetype-py
future==0.9.0
functools32==3.2.3-2
